/*Styles of portfolio site*/
body {
 color: white;
 font-family: Raleway, sans-serif;
 padding: 0;
 margin: 0;
}
/* styles box in middle of home screen*/
.about-me {
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;
 flex-basis: content;
 z-index: 1;
}


.about-me > div {
 background-color: black;
 border-radius: 15px;
 padding: 10px;
 z-index: 1;
}


.info-me-list {
 display: inline-block;
}

/* styling the heading of home page */
.heading{
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
}


.heading > div {
 padding: 50px 0px;
 z-index: 1;
}

.menu-bar {
 display: flex;
 text-align: center;
 align-items: center;
 justify-content: flex-start;
 align-content: center;
 z-index: 2;
}




.logo {
 border-right: white solid 2px;
 padding-right: 0.5em;

}

nav {
 width: 100%;
 background-color: black;
 padding: 12px;
 position: fixed;
}

.pages {
 margin: 0 4px;
}
/* link style */
a:link {
 color: white;
 text-decoration: none;
}

a:visited {
 color: white;
 text-decoration: none;
}

a:hover {
 color: red;
 text-decoration: none;
}

/* background animation*/
.area{
    background: #F34242;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
