/*Styles of portfolio site*/

body {
 background-color: grey;
 color: white;

}

.about-me {
 display: inline-flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: 1px solid black;
 flex-basis: content;

}
