/*Styles of portfolio site*/
body {
 background-color: grey;
 color: white;
 font-family: Raleway, sans-serif;
}
/* styles box in middle of home screen*/
.about-me {
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;
 flex-basis: content;
}


.about-me > div {
 background-color: black;
 border-radius: 15px;
 padding: 10px;

}


.info-me-list {
 display: inline-block;
}


.heading{
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;

}


.heading > div {
 padding-top: 50px;
 padding-bottom: 50px;
}
/* link style */
a:link {
 color: white;
 text-decoration: none;
}

a:visited {
 color: white;
 text-decoration: none;
}

a:hover {
 color: red;
 text-decoration: none;
}
